// home styling
.path-frontpage {
  #breadcrumb {
    display: none;
  }
  #featured {
    // home banner
    #block-homebanner {
      position: relative;
      .image {
        width: 100vw;
        img {
          height: 200px;
          object-fit: cover;
        }
      }
      .content {
        padding: 20px;
        background: $gray-green;
        color: $white;
        font-size: rem(30);
        font-weight: 300;
        .button {
          font-size: 1rem;
        }
      }
    }
  }
  main {
    background-image: url(../images/bluebk.png);
    background-size: cover;
    max-width: 100%;
    padding: 3em;
    #content {
      h1.page-title {
        display: none;
      }
      span.feature {
        font-weight: 300;
        font-size: rem(40);
        color: $white;
        line-height: 1em;
      }
    }
  }

  .content-bottom {
    .block {
      position: relative;
      box-sizing: border-box;
      h2 {
        text-align: center;
        font-size: rem(22);
        color: $blue;
        text-transform: uppercase;
        padding-top: 60px;
        &:before {
          content: "";
          display: block;
          position: absolute;
          top: -50px;
          left: calc(50% - 50px);
          width: 100px;
          height: 100px;
          background-repeat: no-repeat;
          background-position: center;
          //margin: -50px auto 10px auto;
        }
      }
      .item-list {
        .views-field-title {
          font-weight: 600;
          font-size: rem(22);
        }
        .views-more-link {
          display: block;
          text-transform: uppercase;
          font-size: rem(18);
          font-weight: 500;
        }
      }
    }
    .home-news {
      margin-bottom: 100px;
      h2:before {
        background-image: url(../images/megaphone_icon.svg);
      }
    }
    .home-events {
      background-color: $light-gray;
      h2:before {
        background-image: url(../images/events_icon.svg);
      }
    }
    .block-social-signup-block {
      //margin: 50px 20px;
      .flex-box {
        //padding: 0 20px;
      }
      h3 {
        font-family: $base-font-family;
        text-transform: uppercase;
      }
      .fa-at {
        font-size: 24px;
        color: #1A237E;
        vertical-align: bottom;
      }
      #mc_embed_signup {
        margin-bottom: 21px;
        .button {
          display: block;
          width: 100%;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
    }
  }

  @include media($tablet) {
    &.one-sidebar.sidebar-second {
      main {
        #content {
          @include span-columns(5);
        }
        #sidebar-second {
          @include span-columns(4);
          @include shift(1);
        }
      }
    }
    &.no-sidebars {
      #content {
        @include span-columns(6);
      }
    }

    #featured {
      #block-homebanner {
        .image {
          img {
            height: 400px;
          }
        }
        .content {
          position: absolute;
          top: 0;
          height: 400px;
          @include span-columns(6);
          @include shift(4);
          font-size: rem(40);
          background: rgba($gray-green, .8);
        }
      }
    }

    .content-bottom {
      .block-social-signup-block {
        height: 575px;
      }
    }
  }

  @include media($desktop-large) {

    #featured {
      #block-homebanner {
        .image {
          margin-left: calc((100vw - #{$max-width}) / 2 * -1);
          img {
            height: 600px;
          }
        }
        .content {
          height: 600px;
        }
      }
    }

    main {
      padding: 3em calc(calc((100vw - #{$max-width}) / 2));
    }

    .home-events {
      width: 100vw;
      padding: 20px calc(calc((100vw - #{$max-width}) / 2));
      margin-left: calc((100vw - #{$max-width}) / 2 * -1);
    }

  }


}