<!-- Add you custom twig html here -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=394684117289752&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<div class="flex">
  <div class="box">
    <h3><a href="https://www.facebook.com/schoolcommittees" class="social"><i aria-hidden="true" class="fab fa-facebook-f">&nbsp;</i></a> From Facebook</h3>
    <div class="fb-page" data-href="https://www.facebook.com/schoolcommittees/" data-tabs="timeline,events" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/schoolcommittees/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/schoolcommittees/">Massachusetts Association of School Committees</a></blockquote></div>
  </div>
  <div class="box">
    <h3><a href="https://www.twitter.com/MASCSchoolComm" class="social"><i aria-hidden="true" class="fab fa-twitter">&nbsp;</i></a> From Twitter</h3>
    <a class="twitter-timeline" data-chrome="noborders transparent nofooter" data-height="500" data-lang="en" data-link-color="#015DCA" data-theme="light" href="https://twitter.com/MASCSchoolComm" style="max-width: 100%;">Tweets by @MASCSchoolComm</a>
    <script charset="utf-8" type="text/javascript" src="//platform.twitter.com/widgets.js" async=""></script>
  </div>
  <div class="box">
    <h3><i class="fas fa-at"></i> Stay Up To Date</h3>
    <p>Subscribe to our mailing list to get the latest news and information from MASC:</p>
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="https://masc.us8.list-manage.com/subscribe/post?u=9bb314415bc62a896bc733a76&amp;id=4fdb36c614" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div class="mc-field-group">
            <input type="text" value="" name="SCHOOLCOMP" class="" id="mce-SCHOOLCOMP" placeholder="Organization">
          </div>
          <div class="mc-field-group">
            <input type="text" value="" name="FIRSTNAME" class="required" id="mce-FIRSTNAME" placeholder="First Name*">
          </div>
          <div class="mc-field-group">
            <input type="text" value="" name="LASTNAME" class="required" id="mce-LASTNAME" placeholder="Last Name*">
          </div>
          <div class="mc-field-group">
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email*">
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9bb314415bc62a896bc733a76_4fdb36c614" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </form>
    </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[14]='POSITION';ftypes[14]='dropdown';fnames[16]='SCHOOLCOMP';ftypes[16]='text';fnames[1]='FIRSTNAME';ftypes[1]='text';fnames[2]='LASTNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[23]='DIVISION';ftypes[23]='number';fnames[24]='DIVISION8';ftypes[24]='number';fnames[4]='DIVISION9';ftypes[4]='number';fnames[3]='MASCID';ftypes[3]='number';fnames[18]='EMAIL2';ftypes[18]='text';fnames[11]='TITLE';ftypes[11]='text';fnames[19]='ADDRESS';ftypes[19]='address';fnames[22]='ZIP';ftypes[22]='zip';fnames[13]='NICKNAME';ftypes[13]='text';fnames[8]='SCOFCR';ftypes[8]='dropdown';fnames[26]='MCSA';ftypes[26]='text';fnames[10]='LIFEMEMBER';ftypes[10]='radio';fnames[28]='PHONE';ftypes[28]='phone';fnames[5]='FBPROFILE';ftypes[5]='url';fnames[15]='TWITUSER';ftypes[15]='text';fnames[6]='REGIONAL';ftypes[6]='radio';fnames[12]='JTC2016';ftypes[12]='radio';fnames[9]='JTCONFIRM';ftypes[9]='text';fnames[17]='FREQUENCY';ftypes[17]='radio';fnames[7]='JTC2017';ftypes[7]='radio';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    <!--End mc_embed_signup-->
    <p>We won’t share your information with anyone, and you can unsubscribe at any time.</p>
  </div>
</div>