<!-- Add you custom twig html here -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=394684117289752&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<div class="flex">
  <div class="box">
    <h3><a href="https://www.facebook.com/schoolcommittees" class="social"><i aria-hidden="true" class="fab fa-facebook-f">&nbsp;</i></a> From Facebook</h3>
    <div class="fb-page" data-href="https://www.facebook.com/schoolcommittees/" data-tabs="timeline,events" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/schoolcommittees/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/schoolcommittees/">Massachusetts Association of School Committees</a></blockquote></div>
  </div>
  <div class="box">
    <h3><a href="https://www.twitter.com/MASCSchoolComm" class="social"><i aria-hidden="true" class="fab fa-twitter">&nbsp;</i></a> From Twitter</h3>
    <a class="twitter-timeline" data-chrome="noborders transparent nofooter" data-height="500" data-lang="en" data-link-color="#015DCA" data-theme="light" href="https://twitter.com/MASCSchoolComm" style="max-width: 100%;">Tweets by @MASCSchoolComm</a>
    <script charset="utf-8" type="text/javascript" src="//platform.twitter.com/widgets.js" async=""></script>
  </div>
  <div class="box">
    <h3><i class="fas fa-at"></i> Stay Up To Date</h3>
    --- SIGNUP FORM HERE --
  </div>
</div>