#site-header {
  font-size: .875em;
  .header-top {
    background-color: $dark-gray;
    color: $white;
    a {
      color: $white;
      font-size: .75em;
      text-transform: uppercase;
    }
    .outer-wrapper {
      text-align: right;
      div {
        display: inline-block;
        margin: 0 10px;
      }
    }

  }
  .outer-wrapper {
    position: relative;
    padding: 20px 0;
    height: 150px;
  }
  .site-name {
    display: none;
  }
  .site-logo {
    width: 300px;
    float: left;
    z-index: 12;
    position: relative;
    img {
      width: 300px;
    }
  }
  nav {
    text-transform: uppercase;
    .menu {
      .menu-item {
        list-style: none;
        font-weight: 600;
        padding: 0 10px;
        a {

        }
      }
    }
  }
  nav.menu--main {
    font-family: $heading-font-family;
    background-color: $blue;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0 20px;
    z-index: 11;
    h2 {
      float: right;
      height: 58px;
      color: $gray-green;
      text-align: center;
      letter-spacing: 1px;
      cursor: pointer;
      @include clearfix;
      &:before {
        content: " ";
        width: 42px;
        height: 32px;
        background-image: url(../images/hamburger_menu.svg);
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        margin-bottom: 5px;
      }
    }
    .menu {
      display: none;
      clear: both;
      margin: 0 auto;
      background-color: $blue;
      .menu-item {
        position: relative;
        //border-bottom: 1px #7ecedf solid;
        cursor: pointer;
        &:last-child {
          border: none;
        }
        a {
          display: block;
          padding: 10px;
          color: $white;
        }
        &.menu-item--expanded {
          @include clearfix;
          &:before {
            content: ' ';
            width: 40px;
            height: 38px;
            background-image: url(../images/caret_down.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-color: $gray-green;
            background-size: 50%;
            float: right;
            margin-top: 0;
          }
          &.active {
            .menu {
              display: block;
            }
            &:before {
              background-image: url(../images/caret_up.svg);
            }
          }
          .menu {
            display: none;
            background-color: $gray-green;
            .menu-item {
              font-weight: 400;
              &:before {
                display: none;
              }
            }
            .menu {
              text-transform: none;
              .menu-item {
                a {
                  padding: 0;
                }
              }
            }
          }
        }
      }
    }
    &.active {
      .menu {
        display: block;
      }
    }
    @include media($tablet) {
      .menu {
        max-width: $max-width;
        .menu-item {
          .menu {
            width: 100%;
            float: none;
          }
        }
      }
    }
    @include media($desktop) {
      width: 100vw;
      margin-left: calc((100vw - 1200px)/2 * -1);
      h2 {
        display: none;
      }
      .menu {
        display: block;
        width: 100%;
        background: none;
        .menu-item, .menu-item.menu-item--expanded {
          float: left;
          margin: 0 10px;
          border: none;
          padding: 0;
          a {
            color: $white;
            padding: 5px 10px;
            &:hover {
              //color: $blue;
            }
          }
          .menu {
            display: none;
            position: absolute;
            background: none;
            //padding-top: 15px;
            width: 100%;
            min-width: 180px;
            .menu-item {
              background-color: $blue;
              float: none;
              margin: 0;
              a {
                color: $white;
              }
              .menu {
                min-width: auto;
                position: relative;
                padding: 0 1em;
              }
            }
          }
          &:hover .menu {
            display: block;
          }
          &.menu-item--expanded {
            &:before {
              display: none;
            }
          }
        }
      }
    }
  }

  .block-simple-blocksocial-links {
    float: right;
    //font-size: 20px;
    ul {
      list-style: none;
      li {
        float: left;
        padding: 0 5px;
      }
    }
  }
  .menu--account {
    float: right;
    margin-right: 20px;
    .menu {
      .menu-item {
        padding: 3px 10px;
        float: left;
      }
    }

  }
  .block-search {
    clear: right;
    float: right;
    margin-top: 10px;
    .form-item {
      display: inline-block;
      margin: 0;
      input[type=search] {
        background: none;
        padding: 2px 5px;
        border-radius: 0;
        margin: 0;
        font-size: em(14px);
        text-transform: uppercase;
      }
    }
    input.form-submit {
      border-radius: 0;
      padding: 5px 10px;
      font-size: .8em;
      text-transform: uppercase;
      display: none;

    }

  }


}